---
page_title: "Provider: Momento - {{.ProviderName}}"
description: |-
  The Momento provider is used to manage Momento serverless platform's resources.
---

# Momento Provider

![logo](https://docs.momentohq.com/img/momento-logo-white.svg)

The terraform provider to manage [Momento](https://www.gomomento.com/) resources.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown }}
